  .home{
    background-color: #fff;
    border-radius: 1.5%;
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
 }
 .header{
 
    border-bottom: 1.5px solid #d3d2d2;
 
 }
 .header-component{
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
 padding : 0 .7rem;

  align-items: center;
 }

.image-Container {
  padding: 1.5rem;
}
.add-image{
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .image-gallery {
  text-align: center;
  padding: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-auto-rows: 8rem; /* Set the default row height */
  gap: 1.4rem;
}

.image {
   
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5%;

}

img {
  border-radius: 5%;

  width: 100%;
  height: 100%;


}

/* CSS to make the first image span 2 columns and 2 rows */
.large {
  grid-column: span 2;
  grid-row: span 2;
  transition: transform 0.3s;
}
.image-card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5%;

  
}
.image-overlay {
  position: absolute;
 
  width: 100%;
  height: 100%;
  background-color: rgba(48, 50, 50, 0.5);
  text-align: start;
  opacity: 0;
  border-radius: 5%;
  transition: opacity 0.3s;
}

.image-card:hover .image-overlay {
  opacity: 1;
}
.image-card.checked .image-overlay {
 opacity:.4 /* Show the overlay when the checkbox is checked */
}
 
.image-checkbox{
  margin: .6rem;
 
  cursor: pointer;
}
.DeleteDiv{
  cursor: pointer;
  color: red;
}